<%- include("partials/header") -%>
<h1 style="font-weight: bold">About Us</h1>
<p><%= aboutContent %></p>
<p>
  This is a blog post website which you have not seen before, Express your views
  on any topic , be it political or anything
</p>
<p>
  Your identity is always anonymous because we don't collect any information
</p>
<p style="color: brown">
  TO PREVENT SPAMMING CONTACT ADMIN TO GET YOUR ACCESS KEY
</p>
<%- include("partials/footer") -%>
