<%- include("partials/header") -%>
<h1 style="font-weight: bold">Contact Us</h1>
<!-- <p><%= contactContent %></p> -->
<p>Contact admin at avirup150@gmail.com</p>
<p>U can add your anonymous blog post by going to the /compose</p>
<p>P.S. - To avoid spamming you will need a access key to add your blog post , contact admin for your access key</p>
<%- include("partials/footer") -%>
