<%- include("partials/header") -%>
<div
  class="container"
  style="align-items: center; justify-content: center; text-align: center"
>
  <h1 style="font-weight: bold; color: red; text-align: center">
    ACCESS KEY AUTHENTICATION FAILURE
  </h1>
  <br />
  <form action="/compose" method="GET">
    <button class="button-17" type="submit">Compose New Blog Post</button>
  </form>
</div>

<%- include("partials/footer") -%>
