<%- include("partials/header") -%>
<div
  class="container"
  style="align-items: center; justify-content: center; text-align: center"
>
  <h1 style="font-weight: bold; color: red; text-align: center">
    THANK YOU!! FOR YOUR CONTRIBUTION
  </h1>
  <h2>It means a lot to the readers</h2>
  <br />
  <form action="/" method="GET">
    <button class="button-17" type="submit">Go Back Home</button>
  </form>
</div>

<%- include("partials/footer") -%>
